<h2>Users Table</h2>

<div *ngIf="loading" class="loading">Loading...</div>

<table *ngIf="!loading" class="users-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <a [routerLink]="['/users', user.id]" class="user-link">
          {{ user.first_name }}
        </a>
      </td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.email }}</td>
      <td><a [href]="user.web" target="_blank">{{ user.web }}</a></td>
    </tr>
  </tbody>
</table>