<h2>Users Table</h2>

<div class="search-container">
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    (input)="filterUsers()"
    placeholder="Search by first or last name..."
    class="search-input"
  >
  <button 
    *ngIf="searchTerm" 
    (click)="clearSearch()" 
    class="clear-btn"
  >
    ×
  </button>
</div>


<div *ngIf="!loading" class="results-info">
  Showing {{filteredUsers.length}} of {{users.length}} users
  <span *ngIf="searchTerm">for "{{searchTerm}}"</span>
</div>

<div *ngIf="loading" class="loading">Loading...</div>

<table *ngIf="!loading" class="users-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <td>
        <a [routerLink]="['/users', user.id]" class="user-link">
          {{ user.first_name }}
        </a>
      </td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.email }}</td>
      <td><a [href]="user.web" target="_blank">{{ user.web }}</a></td>
    </tr>
  </tbody>
</table>


<div *ngIf="!loading && filteredUsers.length === 0 && searchTerm" class="no-results">
  No users found matching "{{searchTerm}}"
  <button (click)="clearSearch()" class="show-all-btn">Show all users</button>
</div>